<!DOCTYPE html>
<html>
<head>
<title>PawPals</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <img src="\PawPals.png" alt="House" width="280" height="75">
    <!--<a href="#home" class="w3-bar-item w3-button"><b>BR</b> Architects</a>-->
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <br>
      <a href="#projects" class="w3-bar-item w3-button">About</a>
      <a href="#about" class="w3-bar-item w3-button">Community</a>
      <a href="#contact" class="w3-bar-item w3-button">Marketplace</a>
      <a href="#contact" class="w3-bar-item w3-button">Login</a>
      <a href="#contact" class="w3-bar-item w3-button">SignUp</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact Us</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/w3static/architect.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <br>
  <div class="w3-container w3-padding-32" id="projects">
    <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Start Connecting</h2>
  </div>
<div> <p><h3><center>A one of a kind match making site for your furry friends.</center></h3></div>
    <p><center>A lot of users have already registered, what are you waiting for!</center></p>
    <br>
    <br>
    <br>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Lily</div>
        <img src="static\images\oreo_matchmaking.jpg" alt="House" width="280" height="280">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Coffee</div>
        <img src="static\images\11.jpg" alt="House" width="280" height="280">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Rio</div>
        <img src="static\images\22.jpg" alt="House" width="280" height="280">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Jake</div>
        <img src="static\images\33.jpg" alt="House" width="280" height="280">
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Zoey</div>
        <img src="static\images\44.jpg" alt="House" width="280" height="280">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Tesla</div>
        <img src="static\images\55.jpg" alt="House" width="280" height="280">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Comet</div>
        <img src="static\images\66.jpg" alt="House" width="280" height="280">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Max</div>
        <img src="static\images\88.jpg" alt="House" width="280" height="280">
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <!--<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>-->
    <p><h3><center>Explore the marketplace and choose some of the best grooming products for your pets.</center></h3>
    </p>
  </div>
<br>
<br>
<br>
  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom"></div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="static\images\89.jpg" alt="John" width="330" height="280" >
      <h3>Pet Shampoo</h3>
      <p class="w3-opacity">Heads up for Tails</p>
      <p>Recommended groomimg shampoo for your pet. Makes fur silky and luxurious!</p>
      <p><button class="w3-button w3-light-grey w3-block">Out of Stock</button></p>
    </div>
    <!-- <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="static\images\vfv.jpg" alt="Jane" width="280" height="280">
      <h3>Jane Doe</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Explore</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="static\images\tgt.jpg" alt="Mike" width="280" height="280">
      <h3>Mike Ross</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Explore</button></p>
    </div> -->
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="static\images\Pet-Medications.jpg" alt="Dan" width="330" height="280" >
      <h3>Pet Medicines</h3>
      <p class="w3-opacity">PetZorg</p>
      <p>Dog medicines for all yours pets needs. Help your puppies reach their full pawtential!</p>
      <p><button class="w3-button w3-light-grey w3-block">Out of Stock</button></p>
    </div><div class="w3-col l3 m6 w3-margin-bottom"></div>
  </div>

  <!-- Contact Section -->
  <!-- <div class="w3-container w3-padding-32" id="contact"> -->
    <!-- <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div> -->
  
<!-- Image of location/map
<div class="w3-container">
  <img src="/w3images/map.jpg" class="w3-image" style="width:100%">
</div> -->
<br>
<br>
<br>

<div> <p><h3><center>Take part in initiatives, fundraisers, and catch up with the latest news. Create bonds that will last a lifetime!</center></h3></div>
    <!-- <p><center>A lot of users have already registered, what are you waiting for!</center></p> -->
    <br>
    <br>
    <br>
<!-- COMMUNITY SECTION AND INITIATIVES -->
<div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="static\images\pexels-flo-dnd-12951462.jpg" alt="John" width="360" height="300" style="padding:10px;">
      <h3>Trending Up Coming Events </h3>
      <!-- <p class="w3-opacity">Heads up for Tails</p> -->
      <p>Take part in global pet programs!</p>
      <p><button onclick="window.location.href='https://10times.com/online/animals-pets';" class="w3-button w3-light-grey w3-block">Find out more</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="static\images\frt4tt5.jpg" alt="Jane" width="360" height="290">
      <h3>Follow up with the latest news</h3>
      <!-- <p class="w3-opacity">Architect</p> -->
      <p>Explore news and articles on happenings around you and stay up to date</p>
      <p><button onclick="window.location.href='https://timesofindia.indiatimes.com/topic/animal-cruelty';" class="w3-button w3-light-grey w3-block">Explore</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="static\images\bathhhh.jpg" alt="Mike" width="350" height="280">
      <h3>Healthcare tips by the best in the business</h3>
      <!-- <p class="w3-opacity">Architect</p> -->
      <p>Tips and tricks for a healthy lifestyle for your pet.</p>
      <p><button onclick="window.location.href='https://www.hillspet.com/pet-care/routine-care/10-responsible-pet-care-tips';" class="w3-button w3-light-grey w3-block">Explore</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="static\images\bfgfgfgf.jpg" alt="Dan" width="360" height="280" >
      <h3>NGOs working towards animal rights upliftment</h3>
      <!-- <p class="w3-opacity">PetZorg</p> -->
      <p>Take part in bringing about changes for the animal welfare society. </p>
      <p><button onclick="window.location.href='https://ngosindia.com/help-support/ngos-working-for-animal-welfare/';" class="w3-button w3-light-grey w3-block">Explore more</button></p>
  </div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Copyright <a href="#" title="PawPals" target="_blank" class="w3-hover-text-green">PawPals</a></p>
</footer>

</body>
</html>
