{% load static %}

<html>
<head>
    <link type="text/css" rel="stylesheet" href="{% static matchmaking.css %}"></head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <img src="static\images\PawPals.png" alt="House" width="280" height="75">
    <!--<a href="#home" class="w3-bar-item w3-button"><b>BR</b> Architects</a>-->
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <br>
        <a href="./homepage.html" class="w3-bar-item w3-button">About</a>
        <a href="./matchmaking new.html" class="w3-bar-item w3-button">Matchmaking</a>
        <a href="./homepage.html" class="w3-bar-item w3-button">Community</a>
        <a href="./homepage.html" class="w3-bar-item w3-button">Marketplace</a>
        <a href="./login.html" class="w3-bar-item w3-button">Login</a>
        <a href="./signup.html" class="w3-bar-item w3-button">SignUp</a>
        <a href="./homepage.html" class="w3-bar-item w3-button">Contact Us</a>
    </div>
  </div>
</div>


<div><h1>Start Connecting</h1></div>
<div class="cards-container">
  
    <div class="card card-one">
      <header>
        <div class="avatar">
          <img src="static\images\44.jpg" alt="Zoey" />
        </div>
      </header>
  
      <h3>Zoey</h3>
      <div class="desc">
        A 4 y/o labrador. Playful and always excited to meet new friends.
      </div>
      <div class="contacts">
        <a href=""><i class="fa fa-plus"></i></a>
        <a href=""><i class="fa fa-whatsapp"></i></a>
        <a href=""><i class="fa fa-envelope"></i></a>
        <div class="clear"></div>
      </div>
	<p>
	<button class="connect-button" role="button">Connect</button>
	</p>
    </div>
  
    <div class=" card card-two">
    <header>
      <div class="avatar">
        <img src="static\images\33.jpg" alt="Oreo" />
      </div>
    </header>
    
    <h3>Oreo</h3>
    <div class="desc">
      3 y/o doggo eager to make news friends and go on playdates.
    </div>
	<p>
	<button class="connect-button" role="button">Connect</button>
	</p>
  </div>
  

  
  <!-- <div class="card card-one">
    <header>
      <div class="avatar">
        <img src="images\dog_signup.jpeg" alt="Zoey" />
      </div>
    </header>
    <h3>Zoey</h3>
    <div class="desc">
      A 4 y/o labrador. Playful and always excited to meet new friends.
    </div>
    <div class="contacts">
      <a href=""><i class="fa fa-plus"></i></a>
      <a href=""><i class="fa fa-whatsapp"></i></a>
      <a href=""><i class="fa fa-envelope"></i></a>
      <div class="clear"></div>
    </div>
<p>
<button class="connect-button" role="button">Connect</button>
</p>
  </div>
   -->
    <div class="clear"></div>
  </div>

  <!--THIS CODE ENDS HERE-->

  <div class="cards-container">
  
    <div class="card card-one">
      <header>
        <div class="avatar">
        </div>
      </header>
  
      <h3>Rio</h3>
      <div class="desc">
        We can be best friends if you share your treats. 
      </div>
      <div class="contacts">
        <a href=""><i class="fa fa-plus"></i></a>
        <a href=""><i class="fa fa-whatsapp"></i></a>
        <a href=""><i class="fa fa-envelope"></i></a>
        <div class="clear"></div>
      </div>
	<p>
	<button class="connect-button" role="button">Connect</button>
	</p>
    </div>
  
    <div class=" card card-two">
    <header>
      <div class="avatar">
        <img src="static\images\22.jpg" alt="Oreo" />
      </div>
    </header>
    
    <h3>Simba</h3>
    <div class="desc">
      I am 2 y/o and love to play peek-a-boo.
    </div>
	<p>
	<button class="connect-button" role="button">Connect</button>
	</p>
  </div>
  
    <div class="clear"></div>
  </div>

  <div class="cards-container">
  
    <div class="card card-one">
      <header>
        <div class="avatar">
          <img src="static\images\dog_signup.jpeg" alt="Zoey" />
        </div>
      </header>
  
      <h3>Zoey</h3>
      <div class="desc">
        A 4 y/o labrador. Playful and always excited to meet new friends.
      </div>
      <div class="contacts">
        <a href=""><i class="fa fa-plus"></i></a>
        <a href=""><i class="fa fa-whatsapp"></i></a>
        <a href=""><i class="fa fa-envelope"></i></a>
        <div class="clear"></div>
      </div>
	<p>
	<button class="connect-button" role="button">Connect</button>
	</p>
    </div>
  
    <div class=" card card-two">
    <header>
      <div class="avatar">
        <img src="static\images\oreo_matchmaking.jpg" alt="Oreo" />
      </div>
    </header>
    
    <h3>Oreo</h3>
    <div class="desc">
      3 y/o doggo eager to make news friends and eager to go on playdates. 
    </div>
	<p>
	<button class="connect-button" role="button">Connect</button>
	</p>
  </div>
  
    <div class="clear"></div>
  </div>

  </html>